<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Vue</title>

    <!-- Bootsrtap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

</head>
<body>

<div id="app">
    <div class="container">
        <h3>Task List</h3>
        <div class="row">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="New Task"
        aria-label="Recipient's username" aria-describedby="basic-addon2"
        id="new-task" v-model="newTask">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" @click="addNewTask">
                    Add New Task
                </button>
            </div>
    </div>

<div class="card-deck col-md-12">

    <div class="card bg-light mb-3">
        <div class="card-header">Incompleted</div>
        <div class="card-body">
            <ul v-if="incompletedTasks[0]">
                <li v-for="task in incompletedTasks">
                <input type="checkbox" v-model="task.completed"/>
                    {{ task.description }}
                </li>
            </ul>
            <p v-else class="text-success">
                <b>You did it, boy. Well Done!</b>
            </p>
        </div>
    </div>


    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Completed</div>
        <div class="card-body">
            <ul v-if="completedTasks[0]">
                <li v-for="task in completedTasks">
                      {{ task.description }}
                </li>
            </ul>
            <p v-else class="text-warning">
                <b>Hey man! Do it! Now!</b>
            </p>
        </div>
    </div>

</div>
        </div>
    </div>
</div>

<!-- Vue Script -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<!--     js file locate -->
<script src="js/main1-7.js"></script>

</body>
</html>